---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE } from "../consts";
---

<BaseLayout
  title={`Contact - ${SITE_TITLE}`}
  description=`Contact information for ${SITE_TITLE}`
>
  <h2>Contact</h2>
  <p>just email address. This may end up just being in the footer instead</p>
</BaseLayout>
